#tete {
    background-color: blue;
     width: 100%; 
     text-align: center;
}
#menu {
    background-color: red;
     width: 25%; height: 200px; 
     text-align: left;
}
#contenu{
    background-color: yellow;
    width: 75%; 
    height: 200px; 
    float: right; 
    text-align: right;

}
#pied {
    background-color: green; 
    width: 100%; 
    text-align: center;
    float: ;
}