body{
    margin: 0
}
header{
    background-color: blue; width: 100%; padding: 20px; height: 100px;text-align: center
}
main{
    background-color: yellow; width: 100%; padding: 20px; height: 700px;text-align: center;
}
footer {
    background-color: green; width: 100%; padding: 20px; height: 100px;text-align: center;
}
